h1{font-family:"Times New Roman, Times", Serif;
    text-align: center;
    color:rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size: 50px;
    text-shadow: 1px 1px;
    border-bottom-style: solid;
    }
    nav{
        position: static;
        top:0;
        left:0;
        width:100%;
        height:100px;
        padding: 10px 90px;
        box-sizing: border-box;
        background: rgba(202, 170, 170, 0)
        text-align: center;    
        font-size: 20px;
        letter-spacing: 2px;
    }

    <style>
    body{
        background-image: url(https://live.staticflickr.com/65535/50146128211_cbac0155ee_b.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    p{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:2px;
    font-size:40px;
    color:white;
    text-align:center;
    }
}

